<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    {% block head %}
    <link rel="stylesheet">
    {% endblock %}
</head>
<body>
    {% block header %}
    {% endblock %}

    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1>{{ title }}</h1>
            </div>
        </div>
    </div>

    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">午夜屠猪男</a>
            </div>
            <p class="nvabar-text navbar-right">
                {% if user %}
                <a href="/user/signup" class="navbar-link">注册</a>
                <span> | </span>
                <a href="/user/signin" class="navbar-link">登录</a>
                {% else %}
                <span>欢迎您， {{ user.name }}</span>
                <span> | </span>
                <a href="/user/logout" class="navbar-link">退出</a>
                {% endif %}
            </p>
        </div>
    </div>

    {% block body %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block script %}
    <script></script>
    {% endblock %}
</body>
</html>